.resgister-page {
    max-width: 400px;
    margin: 0 auto;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin-top: 60px;
    background-color: #ccc;
}

.resgister-page input {
    border-radius: 4px;
}

.resgister-page h3 {
    margin-bottom: 20px;
}

.resgister-page h2 {
    margin-bottom: 20px;
    color: rgb(24, 93, 137);
    padding-top: 10px;
}


.resgister-page .btn-primary {

    margin-left: 10px;
}